@font-face {
    font-family: l;
    src: url(COMM\ -\ Lyon\ Arabic\ Display\ Light.otf);
  }
  
  @font-face {
    font-family: r;
    src: url(COMM\ -\ Lyon\ Arabic\ Display\ Regular.otf);
  }
  
  @font-face {
    font-family: m;
    src: url(COMM\ -\ Lyon\ Arabic\ Display\ Medium.otf);
  }
  
  @font-face {
    font-family: b;
    src: url(COMM\ -\ Lyon\ Arabic\ Display\ Bold.otf);
  }
  
  @font-face {
    font-family: bb;
    src: url(COMM\ -\ Lyon\ Arabic\ Display\ Black.otf);
  }

  * {
    font-family: b;
  }

body {
    text-align: center;
    background-image: url('BG.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px;
}

.card {
    background-color: hsla(0, 0%, 100%, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5vw;
    padding: 25px 0px;
}

img {
    width: 300px;
}

h2 {
    color: #462461;
    font-family: b;

}

#avatar-container {
    position: relative;
    display: inline-block;
    width: 300px; /* عرض الحاوية */
    height: 300px; /* ارتفاع الحاوية */
    overflow: hidden;
    border-radius: 50%; /* جعل الحاوية دائرية */
}
#avatar {
    width: 100%;
    height: 100%;
    object-fit: cover; /* لجعل الصورة تغطي الحاوية مع الحفاظ على النسبة */
    border-radius: 50%; /* جعل الصورة دائرية */
    display: none; /* إخفاء الصورة حتى يتم تحميلها */
}
#frame {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%; /* جعل الإطار دائريًا */
    pointer-events: none; /* حتى لا يتعارض مع النقر */
}
#download-btn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #462461;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#download-btn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}
.cropper-container {
    margin: 20px 0px;
    width: 300px; /* عرض واجهة Cropper */
    height: 300px; /* ارتفاع واجهة Cropper */
}

.cropper-view-box,
.cropper-face {
    border-radius: 50%; /* جعل منطقة القص دائرية */
}

.cropper-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e0e0e0; /* لون خلفية النص */
    border-radius: 10px; /* حواف دائرية */
}
.cropper-container p {
    font-size: 18px;
    color: #555;
    text-align: center;
    margin: 0;
}

.cropper-container {
    cursor: pointer; /* تغيير المؤشر إلى يد */
    position: relative; /* لجعل العناصر الداخلية تتبع الحاوية */
}
.cropper-container input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0; /* إخفاء زر الرفع */
    cursor: pointer;
}